:root {
    --bg-button: #f0f0f0;
}

.button {
    font-size: 1.4rem;
    background-color: var(--bg-button);
    border: none;
    outline: none;
}


.button-double{
    grid-column: span 2;
    font-size: 1.4rem;
    border: none;
}

.button-triple{
    font-size: 1.4rem;
    grid-column: span 3;
    border: none;
}

.button-double, .button-triple{
    justify-content: left;
}

.button-operation {
    background-color: #fa8231;
    color: #fff;
    border: none;
    font-size: 1.4rem
}


.button-triple:hover, .button-double:hover, .button:hover{
    background-color: #ccc;
}

.button-operation:hover{
    background-color: #c96b2d;
}